<mat-toolbar color="accent">
  <mat-icon>assignment</mat-icon>
  <span> Pomodoro</span>
</mat-toolbar>

<div class="content-wrapper">
  
  <div class="container-wrapper">
    <div class="container">
      <button (click)="newTask()" mat-button class="float-icon">
        <mat-icon>add</mat-icon> Add Task
      </button>
      <h2>Backlog</h2>
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo] = "[inProgressList, doneList]"
        (cdkDropListDropped) = "drop($event)"
        class="list"
      >
        <p class="empty-label" *ngIf="(todo | async).length===0">Empty List</p>
        <app-task (edit)="editTask('todo',$event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>
    <div class="container">
      <h2>In Progress</h2>
      <mat-card
      cdkDropList
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress | async"
      [cdkDropListConnectedTo] = "[todoList, doneList]"
      (cdkDropListDropped) = "drop($event)"
      class="list"
      >
      <p class="empty-label" *ngIf="(inProgress | async).length===0">Empty List</p>
        <app-task (edit)="editTask('inProgress',$event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task>
    </mat-card>
    </div>
    <div class="container">
      <h2>Done</h2>
      <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done | async"
      [cdkDropListConnectedTo] = "[todoList, inProgressList]"
      (cdkDropListDropped) = "drop($event)"
      class="list"
      >
      <p class="empty-label" *ngIf="(done | async).length===0">Empty List</p>
        <app-task (edit)="editTask('done',$event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
    </mat-card>
    </div>
  </div>
</div>
